*{
    box-sizing: border-box
}

body{
 font-size: 20px;   
 font-family: Helvetica, Arial;
 background-color: hsl(8, 32%, 85%);
}
.title{
    font-family: "Times New Roman", Arial;
}
header{
    background-color: hsl(13, 39%, 89%);
    border-bottom: 1px black solid;
}
h1 {
    text-align: center;
    font-size: 3em;
    
}
h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
}
h3{
    font-size: 2em;
}


div{
    width: 70%;
}

.firstC{
    height: 320px;    
    margin-left: auto;
    margin-right: auto;
}
.firstC,
.anchor{
    font-size: 30px;
    color: rgb(161, 131, 85);
  
}
.container2,
.container1{
    text-align: center;
    height: 370px;
    width: 500px; 
    display:inline-block;
    border-bottom: 1px black solid;
    margin-bottom: 100px;
}
.container1{  
    margin-left: 5%;
}
.container2{
    margin-right: 5%;
    margin-left: 100px;
}