body{
 font-size: 20px;   
 background-color: hsl(208, 85%, 97%);
 font-family: Helvetica, Arial;
}
.title{
    font-family: "Times New Roman", Arial;
}
header{
    background-color: hsl(13, 39%, 89%);
}
h1 {
    text-align: center;
    font-size: 3em;
}
h3{
    font-size: 2em;
}

img{
    margin-left: 28%;
    margin-right: auto;
    margin-bottom: 100px;
}
div{
    width: 70%;
}